@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dancing+Script:wght@400..700&family=Do+Hyeon&family=Jua&family=Orbit&display=swap");
@import "tailwindcss";

body {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}

@theme {
  --color-main: #3d5a4d; /* 메인 컬러 */
  --color-sub: #a3d9a5; /* 서브 컬러 */
  --color-text: #2f4f4f; /* 텍스트 컬러 */
  --color-accent: #4caf50; /* 액센트 컬러 */
}
