@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Chiron+GoRound+TC:wght@200..900&family=Dancing+Script:wght@400..700&family=Do+Hyeon&family=Jua&family=Nanum+Gothic&family=Orbit&display=swap");
@import "tailwindcss";

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}

@theme {
  --color-main: #3d5a4d;
  --color-sub: #a3d9a5;
  --color-text: #2f4f4f;
  --color-accent: #4caf50;
}
